/* Error: expected selector.
 *     ,
 * 224 | #footer-bottom .footer-wrap .footer-col:nth-child(1)
 *     |                                                     ^
 *     '
 *   sass\app\footer.scss 224:53  @import
 *   sass\style.scss 12:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a     \2577 \a 224 \2502  #footer-bottom .footer-wrap .footer-col:nth-child(1)\d\a     \2502                                                      ^\a     \2575 \a   sass\\app\\footer.scss 224:53  @import\a   sass\\style.scss 12:9         root stylesheet";
}
