/* Error: Expected identifier.
 *     ,
 * 246 | . validation_message{
 *     |  ^
 *     '
 *   sass\app\footer.scss 246:2  @import
 *   sass\style.scss 12:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 246 \2502  . validation_message{\d\a     \2502   ^\a     \2575 \a   sass\\app\\footer.scss 246:2  @import\a   sass\\style.scss 12:9        root stylesheet";
}
