$forestGreen: #142d06;
$oliveGreen: #728b49;
$cloudGrey: #e8f2f1;
$stoneGrey: #9aa5a9;
$headerWhite: #fff;
$headerBlack: #000;


$palmLeaf: #71B340;
$newGreen: #669D31;
$maxGreen: #598B2C;
$hoverNetwork: #05F140;

$networkHeaderHeight: 80px;