//Color Scheme
$forestGreen: #248232;
$oliveGreen: #040F0F;
$cloudGrey: #e8f2f1;
$stoneGrey: #9aa5a9;

$primaryHoverLight: rgba(36,130,50,0.6);
$footerCreditLight: rgb(4, 15, 15,0.5);

$headerWhite: #FCFFFC;
$headerBlack: #040F0F;

$footerWhite: #FCFFFC;
$footerBlack: #040F0F;

$palmLeaf: #71B340;
$newGreen: #669D31;
$maxGreen: #598B2C;
$hoverNetwork: #05F140;

// Definate height for multisite network header. |-x-|-x-|-x-|
$networkHeaderHeight: 60px;

$font1: zeitung, sans-serif;
$font2: "mr-eaves-xl-modern",sans-serif;