//Color Scheme
$forestGreen: #248232;
$secondBlack: #040F0F;
$cloudGrey: #e8f2f1;
$stoneGrey: #9aa5a9;

$desktopSize: 1420px;


$primaryHoverLight: rgba(36,130,50,0.6);
$footerCreditLight: rgb(4, 15, 15,0.5);

$headerWhite: #FCFFFC;
$headerBlack: #040F0F;

$footerWhite: #FCFFFC;
$footerBlack: #040F0F;

$palmLeaf: #248232;
$newGreen: #5f1d1d;
$maxGreen: #1d395f;
$hoverNetwork: #05F140;

// Definate height for multisite network header. |-x-|-x-|-x-|
$networkHeaderHeight: 60px;

$font1: zeitung, sans-serif;
$font2: "mr-eaves-xl-modern",sans-serif;